<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

    <title>Open Pediatrics</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MovieList.css" rel="stylesheet" />
    <link href="~/Content/HallStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
   
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>