

<!-- Modal -->
<div id="success_tic" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <a class="close" href="#" data-dismiss="modal">&times;</a>
            <div class="page-body">
                <div class="head">
                    <h3 style="margin-top:5px;">Ödeme Başarıyla Alınmıştır</h3>
                    <p>Bilet detaylarına profilinizden ulaşabilirsiniz</p>
                    <p>Lütfen Seans Saatinden 15 dk önce Salonda bulununuz İyi Seyirler </p>
                </div>

                <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div><h1>

            </div>
        </div>
    </div>

</div>
